*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #72ff5d;
  --white-color: #ffffff;
}

body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #202124;
  color: #fff;
}

.container {
  max-width: 1000px;
  margin: 50px auto 0 auto;
}

.leagues-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.league-details {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.league-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 300ms ease;
  text-align: center;
  border: 0.5px solid var(--white-color);
  min-height: 270px;
  text-decoration: none;
}

.league-container:hover {
  transform: scale(1.1);
}

.heading-text {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.heading-text-two {
  font-size: 26px;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: underline;
  text-align: center;
}

.brief-text {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}

.paragraph-text {
  font-size: 18px;
  font-weight: 600;
  color: var(--white-color);
}

.leagues-image-wrapper-sm {
  width: 100px;
  height: 100px;
}

.leagues-image-wrapper-bg {
  width: 150px;
  height: 150px;
}

.leagues-img {
  width: 100%;
}

.spinner-container {
  width: 100vh;
  height: 100vh;
}

.date-wrapper {
  display: flex;
  font-size: 17px;
  color: var(--primary-color);
  align-items: center;
}

.date-wrapper p {
  margin: 8px 0;
}

.date-wrapper p:nth-child(2) {
  margin: 0 10px;
}

.standing-display-name {
  font-size: 20px;
  margin: 0;
}

.league-details-content {
  margin: 40px auto 10px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.league-detail {
  margin: 20px 0;
  border: 1px solid var(--primary-color);
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 300ms ease;
  position: relative;
}

.league-detail:hover {
  transform: translateX(8px);
  opacity: 6;
}

.league-year {
  position: absolute;
  right: -15px;
  top: -20px;
  border-radius: 4px;
  border: 1px solid var(--white-color);
  padding: 10px;
  background: rgb(40, 40, 40);
}

.standings-container {
  margin: 40px auto 10px auto;
  display: grid;
  column-gap: 40px;
  margin: 50px 0;
}

.standing-container {
  display: grid;
  grid-template-columns: 200px repeat(12, 1fr) 0fr;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #505050;
  column-gap: 15px;
}

.stat-logo {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 20px;
}

.stat-team {
  color: var(--primary-color);
}

.stat-team-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.stat-value {
  color: var(--primary-color);
}

.stat-team-name {
  font-weight: 700;
  font-size: 25px;
}

.standing-container.stat-font-small p {
  font-size: 16px;
}

select {
  padding: 10px;
  background: transparent;
  color: var(--primary-color);
  border-radius: 4px;
  margin-left: 10px;
  text-transform: capitalize;
}
